@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    aLign-items: center;
    min-height: 100vh;
    background-color: #1b1b1b;
}

.container {
    position: relative;
    width: 500px;
}

.container .skills {
    position: relative;
    display: flex;
    margin: 20px 20px;
    padding: 24px 10px 18px;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px #000;
    transition: 0.5s;
}

.container .html {
    background-color: #e54d26;
}

.container .css {
    background-color: #0b73ba;
}

.container .js {
    background-color: #d9b82d;
}

.container .skills .Name {
    position: relative;
    width: 70px;
    text-align: center;
    color: white;
}

.container .skills .Value {
    position: relative;
    width: 40px;
    text-align: left;
    color: white;
}

.container .skills .percent {
    position: relative;
    width: calc(100% - 120px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.container .skills .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 2px;
    animation: animate 2s ease-in-out forwards
}

@keyframes animate {
    from {
        width: 0;
    }
}